@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/MaterialIcons-Regular.woff2) format("woff2"), url(../fonts/MaterialIcons-Regular.woff) format("woff");
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/poppins-bold-webfont.woff2) format("woff2"), url(../fonts/poppins-bold-webfont.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/poppins-light-webfont.woff2) format("woff2"), url(../fonts/poppins-light-webfont.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/poppins-medium-webfont.woff2) format("woff2"), url(../fonts/poppins-medium-webfont.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/poppins-regular-webfont.woff2) format("woff2"), url(../fonts/poppins-regular-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/poppins-semibold-webfont.woff2) format("woff2"), url(../fonts/poppins-semibold-webfont.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "themify";
  src: url(../fonts/themify.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FontAwesome";
  src: url(../fonts/fontawesome-webfont.eot?v=4.7.0);
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url(../fonts/fontawesome-webfont.woff2?v=4.7.0) format("woff2"), url(../fonts/fontawesome-webfont.woff?v=4.7.0) format("woff"), url(../fonts/fontawesome-webfont.ttf?v=4.7.0) format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: 400;
  font-style: normal;
}