.newheader {
	padding-top: 26px;
	padding-bottom: 26px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 60px;

	@media screen and (max-width: 991px) {
		gap: 26px;
	}

	@media screen and (max-width: 480px) {
		flex-wrap: wrap;
		gap: 0 26px;
	}
}
.newheader__logo {
	@media screen and (max-width: 991px) {
		// flex-grow: 1;
		margin-right: auto;
	}

	@media screen and (max-width: 480px) {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	img {
		display: block;
		height: 79px;
		width: auto;
		@media screen and (max-width: 991px) {
			height: 35px;
		}
	}
}
.newheader__nav {
	@media screen and (max-width: 991px) {
		order: -1;
	}
	@media screen and (max-width: 480px) {
		order: initial;
	}
}
.newheader__right {
}

.leo-megamenu .navbar-nav > li > a {
	font-size: 16px;
}

.language-selector-wrapper {
	position: relative;
	padding-right: 20px;
	margin-right: 10px;

	&::before {
		content: "";
		position: absolute;
		right: 0;
		top: 50%;

		width: 1px;
		height: 31px;

		transform: translateY(-50%);

		background-color: #e0e0e0;
	}
}

.leo-megamenu .navbar-nav {
	text-align: left;
}

.leo-megamenu .navbar-nav > li > a {
	padding: 12px 18px;
}

/* custom swiper button */
.swiper-button-next,
.swiper-button-prev {
	width: 25px;
	height: 25px;
	background-image: url("../img/slider-arrow.svg");
	background-size: cover;
	background-position: center;
	background-color: #f3f3f3;
	border-radius: 3px;

	transition: all 0.25s;

	&:hover {
		background-color: #000;
		background-image: url("../img/slider-arrow-hover.svg");
	}

	&::after {
		display: none;
	}
}

.swiper-button-prev {
	transform: rotate(180deg);
}

.swiper-pagination-bullet-active {
	background-color: #f11d22;
}

/* bigSlider */
.bigSlider {
	padding-bottom: 40px;
	width: 100%;
	overflow: visible;
	margin-top: -30px;

	img {
		display: block;
		width: 100%;
	}
}
.bigSlider__item {
	display: block;
	width: 100%;
}

.bigSlider__pagination {
	display: none;
}
.bigSlider__next,
.bigSlider__prev {
	top: initial;
	margin: initial;
	bottom: 0;
}
.bigSlider__next {
	right: initial;
	left: 50%;
	margin-left: 4px;
}
.bigSlider__prev {
	right: 50%;
	left: initial;
	margin-right: 4px;
}

/* b02 */
.b02 {
	padding-top: 60px;
	padding-bottom: 80px;

	display: flex;
	flex-direction: column;
	gap: 45px;

	@media screen and (max-width: 768px) {
		padding-top: 40px;
		padding-bottom: 40px;

		gap: 20px;
	}
}
.b02__title {
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #f11d22;
	line-height: normal;

	text-align: center;

	display: flex;
	flex-direction: column;
	gap: 5px;

	span {
		font-weight: 600;
		font-size: 36px;
		text-transform: uppercase;
		text-align: center;
		color: #242222;
		line-height: normal;
	}
}
.b02__box {
	display: flex;
	justify-content: space-between;
	gap: 72px;

	@media screen and (max-width: 991px) {
		flex-direction: column;
		gap: 30px;
	}
}
.b02__video {
	width: calc(100% - 72px - 488px);

	@media screen and (max-width: 991px) {
		width: 100%;
	}
}
.b02__reviews {
	max-width: 488px;
	flex-shrink: 0;

	display: flex;
	flex-direction: column;
	gap: 29px;

	@media screen and (max-width: 991px) {
		max-width: 100%;
	}

	.trustpilot {
		height: 83px;
		width: auto;
	}
}
.reviews__slider__box {
	position: relative;
}
.reviews__slider {
	padding: 0 0 40px;

	width: 100%;
	color: #242222;
	// box-sizing: border-box;

	.item {
		// padding-left: 45px;
		// padding-right: 45px;
		width: 100%;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}
	.item__img {
		align-self: flex-start;
	}
	.item__title {
		margin: 0 0 16px;
		font-weight: bold;
	}
	.item__descr {
		margin-bottom: 16px;

		& > * {
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.item__name {
		margin-top: 10px;
		font-style: italic;

		color: #828282;
	}
	.item__link {
		margin-bottom: 16px;
		color: #828282;
		text-decoration: underline;
	}
}
.reviews__slider__next {
	right: -40px;

	@media screen and (max-width: 1300px) {
		display: none;
	}
}
.reviews__slider__prev {
	left: -40px;
	@media screen and (max-width: 1300px) {
		display: none;
	}
}

/* b03 */
.b03 {
	padding-top: 80px;
	padding-bottom: 80px;

	background-color: #f8f8f8;

	@media screen and (max-width: 768px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}
.b03_box {
	display: flex;
	flex-direction: column;
	gap: 45px;

	@media screen and (max-width: 768px) {
		gap: 20px;
	}
}
.b03__title {
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #f11d22;
	line-height: normal;

	text-align: center;

	display: flex;
	flex-direction: column;
	gap: 5px;

	span {
		font-weight: 600;
		font-size: 36px;
		text-transform: uppercase;
		text-align: center;
		color: #242222;
		line-height: normal;
	}
}

.products-slider {
	width: 100%;
}

.products-slider__box {
	position: relative;
	padding: 0 0 40px;
}
.products-slider__wrapper {
}

/* Кастомизация карточки товара */
body .thumbnail-container .product-thumbnail img {
	display: block;
	width: 100%;
	height: auto;
}

.thumbnail-container {
	position: relative;
	padding: 15px;
	background-color: #fff;
}

.product-image {
	margin-bottom: 12px;
}

.products-slider__item a {
	font-weight: 400;
	font-size: 15px;
	line-height: 125%;
	color: #242222;
}

.thumbnail-container .product-title {
	font-weight: 400;
	font-size: 15px;
	line-height: 125%;
	color: #242222;

	margin-bottom: 34px;
}

.product-title {
	display: block;
	margin-bottom: 34px;
}

.thumbnail-container .product-price-and-shipping .discount-product {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #f11d22;
	border-radius: 0;

	padding: 8px 5px 4px 5px;
	font-weight: 600;
}

.plist-dsimple .thumbnail-container .product-price-and-shipping {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;

	.price {
		order: -1;
		font-weight: 600;
		font-size: 16px;
	}

	.regular-price {
		font-weight: 400;
		font-size: 14px;
		color: #828282;
	}
}
